.image-container {
    position: relative;
    width: 100%;
    height: 400px; /* ajusta según tu diseño */
    overflow: hidden;
    border-radius: 12px; /* opcional, da un efecto más elegante */
}

.image-container .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene proporciones sin distorsionar */
    object-position: center; /* centra la parte importante */
    filter: brightness(0.95); /* opcional: mejora el contraste */
    transition: transform 0.5s ease; /* para animación suave */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 30px;  /* Ajusta la distancia desde el borde izquierdo */
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 30px;    
}

.text-overlay {
    margin: 0;
}

.card-container {
    border: 2px solid #EA7913; /* Color del borde */
    background-color: #ffffff;  /* Color de fondo */
    padding: 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados (opcional) */
}

.seccion-somos {
    width: 100%; 
    background-color: #ffffff; 
    padding: 50px 0; /
}

.image-container:hover .image {
    transform: scale(1.05); /* efecto de zoom al pasar el mouse */
}
