{% extends 'module_base.html' %}

{% block title %}Módulo Fisioterapia - Gerontología App{% endblock %}

{% block module_title %}
    <div class="text-white">Módulo Fisioterapia</div>
{% endblock %}

{% block content %}
<div class="py-3">
    <h1>Módulo Fisioterapia</h1>
    <p>Bienvenido(a), {{ user.first_name }}. Área para registrar y seguir terapias físicas.</p>
    <div class="card mt-3">
        <div class="card-body">
            <p>Funcionalidad en desarrollo. Contacta al equipo para requisitos específicos.</p>
        </div>
    </div>
</div>
{% endblock %}
